* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
.header{
    overflow: hidden;
}
.header {
    height:50vh;
    position: relative;
    box-shadow: 0px 3px 12px rgb(5 42 83);
    z-index: 1000;
}
.header img {
    object-fit: cover;
    
    width:100vw;
    height:100%;
}

.header h1 {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#weatherResults {
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px;
}
#Description {
    text-transform: capitalize;
}

#forecastResults {
    min-height:80vh;
}

#Temperature {
    font-size:3rem;
}
#weatherResults img, #forecastResults img {
    width: 4rem;
    
}

.fiveDayImage {
    display:block;
    margin:auto;
}

.forecastRow {
    border: 1px solid black;
}
.hide {
    display: none!important;
}